body{
    color: #FFFCFC;
    font-family: "American Typewriter";
}

.logo{
    margin-left: 70px;
}

/* nav-bar section */
.nav-bar{
    display: flex;
    justify-content: first baseline;
}

.nav-bar img{
    width: 100%;
    margin-bottom:-25%;
    margin-top: -25%;
}

.nav-bar ul{
    justify-content: center;
    margin-left:36%;
    padding: 10px;
    padding: 17px;
    list-style: none;
}
.nav-bar .ul2{
    justify-content: center;
    list-style: none;
    margin-left: -3%;
    margin-top: -7%;
}
.nav-bar .ul2 li a{
  width: 270px;
}


.nav-bar ul li {
    font-family: "Hiruko Alternate";
    font-size: 20px;
    float: left;
    width:270px;
    height :40px;
    background-color:#FFD0BE;
    line-height: 40px;
    text-align: center;

}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 270px;
}
.nav-bar ul li a:hover{
    background-color: black;
}
.nav-bar ul li ul li{
    display: none;
    margin-left: -4%;
    margin-top: 0%;
}
.nav-bar ul li:hover ul li{
    display: block;
}




/*********************Start Style Body********************/



/*********************************Style Episode****************************************/

.container{
    margin-top: 6%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.container .img-container img{
    width: 492px;
    height: 492px;
}
.container .text-container{
    padding-left: 3%;
    margin-top: 3%;
    width: 65%;
}
.container .text-container h2{
    font-size: 45px;
    font-family: "Hiruko Alternate";
    color: black;
    margin-bottom: 1%;
    margin-top: 3%;
    
}
.container .text-container h6{
    font-size: 27px;
    font-family: "Script MT";
    color: black;
    margin-bottom: 1%;
    margin-top: 1%;
    
}

.container  h5{
    font-size: 27px;
    font-family: "Hiruko Alternate";
    color: #707070;
    margin-bottom: 1%;
    margin-top: 3%;
}
.container  p{
    color: #707070;
    font-size: 27px;
    font-family: "Segoe UI";
    margin: auto;
    

}

.section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.Container {
   margin-left: 0%;
    width: 100%;
}
.f{
    width: 41%;
    margin-left: 49%;
    margin-top: -50%;
}

.section2 .Container .d{
	border : 2px solid #FFD0BE;
	width: 13%;
	margin-left: 7%;
	background-color:#FFD0BE;
	color: white;
	border-radius: 30px;
	font-family: "Hiruko Alternate";
	font-size: 24px;
    line-height: 218%;
    padding-left: 1%;
    margin-left: 20%;
    margin-top: 5%;
}
.section2 .f .dd{
	border : 2px solid #FFD0BE;
	width: 31%;
	margin-left: 7%;
	background-color:#FFD0BE;
	color: white;
	border-radius: 30px;
	font-family: "Hiruko Alternate";
	font-size: 24px;
    line-height: 218%;
    padding-left: 7%;
    margin-left: 30%;
    margin-top: 20%;
}
.section2 .Container p{
	font-size: 30px;
	font-family: "Segoe UI";
	 margin-left: 9%;
	 width: 35%;
	 color: black;
     border-top: 2px solid gray;
     text-align: start;
}
.section2 .Container h5{
	font-size: 20px;
	font-family:Hiruko Alternate;
	margin-left: 10%;
	margin-right: 77%;
	margin-top: -1%;
    color: gray;
    text-align: start;
}
.section2 .Container i{
	margin-left: 42%;
    color:#FFD0BE;
    font-size: 48px; 
    margin-top: -6%;
    position: absolute;
}

/*********************Start Style Form Add Podcast************************/
.form {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;


}
 .inpt1{
     border: 0.5px solid black;
     width: 483px;
     height: 50px;
     margin: 10px;
     background-color: #FFFCFC;
     border-radius: 5px;
     padding-left: 10px;
}
 .txtA{
     border: 0.5px solid black;
     width: 483px;
    height: 285px;
     margin: 29px;
     background-color: #FFFCFC;
     border-radius: 10px;
     padding-left: 10px;
}
.btn{

    font-family: Segoe UI;
    height: 54px;
    width: 220px;
    border-radius: 10px;
    background-color: #FFD0BE;
    color: white;
    border: 2px;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.btn:hover{
  background-color: white;
  color: black;
  border:2px solid black;
}

.btn_Nav{
    font-family: Hiruko Alternate;
    height: 40px;
    width: 75px;
    border-radius: 10px;
    background-color: #FFD0BE;
    color: white;
    border: 2px;
    font-size: 20px;
    margin-left: 9%;
}
audio{
    margin-left: 1%;
    width: 28%;
    margin-top: 2%;
}
/***************************style description*********************************/
.display{
    display: none;
    background-color:#FFD0BE; 
    width: 37%;
    margin-left:8%;
    margin-top: -1%;
}
 .Container:hover .display {
  display: all;
}

.desc{
    border: 2px solid #FFD0BE;
    width: 7%;
    margin-left: 7%;
    background-color: #FFD0BE;
    color: white;
    border-radius: 30px;
    font-family: "Hiruko Alternate";
    font-size: 20px;
    line-height: 177%;
    padding-left: 2%;
    margin-left: 30%;
    margin-top: -3%
}
.display h4{
    font-size: 27px;
    font-family: "Hiruko Alternate";
    color: black;
    margin-left: 4%;
}
.display h6{
    color: #707070;
    font-size: 26px;
    font-family: "Hiruko Alternate";
    text-align: center;
    margin-top: -3%;
}
/*p :hover .display{
    display: block;
}*/
/*********************Start Style Footer********************/

.footer{
    background-color: #FFD0BE;
    flex-basis: 100%;
    height: 50px; 
    display: flex;
    flex-wrap: wrap;
    margin-top: 6%;
    
}
.footer span{
    color:#707070; 
    font-family: "Hiruko Alternate" ;
    font-weight: normal;

}
.footer .S1{
 float: left;
 padding-left: 105px;
 margin-top: 10px;
 font-size: 24px;
 font-family: "Hiruko Alternate";
 font-weight: normal;
 color: #707070;
 margin-left: 36%;

 
}

/**************************media of Header*********************************/
@media (max-width: 1070px){
 
    .slide .title .h{
        font-size: 24px;
    }
    .slide .title .para{
        font-size: 17px;
    }
}
@media (max-width: 906px){
    .slide .title .h{
        font-size: 20px;
    }
    .slide .title .para{
        font-size: 13px;
    }
}
@media (max-width: 700px){
    .slide .title .h{
        font-size: 19px;
    }
    .slide .title .para{
        font-size: 9px;
    }
}

@media (max-width: 1090px){
    .nav-bar ul{
        margin-left:20%;
    }
}
@media (max-width: 961px){
    .nav-bar ul, .logo img{
        margin-left:1%;
    }
}
@media (max-width: 783px){
    .nav-bar ul li, .nav-bar ul li a {
        width: 150px;
        font-size: 12px;
    }
}
@media (max-width: 961px){
     .logo img{
        margin-left:-44%;
    }
}
@media (max-width: 1600px){

     .footer .S1{
        font-size: 22px;
    }
}
@media (max-width: 900px){
     .footer .S1{
        font-size: 20px;
        margin-left: 21%;
    }
}
@media (max-width: 600px){
     .footer .S1{
        font-size: 16px;
         margin-left: 0%;
    }

    .footer .S1{
       font-size: 22px;
   }
}
@media (max-width: 900px){
    .footer .S1{
       font-size: 20px;
       margin-left: 21%;
   }
}
@media (max-width: 600px){
    .footer .S1{
       font-size: 16px;
        margin-left: 0%;
   }

}
