body{
    color: #707070;
    font-family: "American Typewriter";
}

.logo{
    margin-left: 70px;
}

/* nav-bar section */
.nav-bar{
    display: flex;
    justify-content: first baseline;
}

.nav-bar img{
    width: 100%;
    margin-bottom:-25%;
    margin-top: -25%;
}

.nav-bar ul{
    justify-content: center;
    margin-left:36%;
    padding: 10px;
    padding: 17px;
    list-style: none;
}
.nav-bar .ul2{
    justify-content: center;
    list-style: none;
    margin-left: -3%;
    margin-top: -3%;
}
.nav-bar .ul2 li a{
  width: 270px;
}


.nav-bar ul li {
    font-family: "Hiruko Alternate";
    font-size: 20px;
    float: left;
    width:270px;
    height :40px;
    background-color:#FFD0BE;
    line-height: 40px;
    text-align: center;

}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 270px;
}
.nav-bar ul li a:hover{
    background-color: black;
}
.nav-bar ul li ul li{
    display: none;
    margin-left: -4%;
    margin-top: -4%;
}
.nav-bar ul li:hover ul li{
    display: block;
}



/*********************Start Style Body********************/

/* 1er section de page */
.container{
    margin-top: 6%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.container .img-container img{
    width: 492px;
    height: 492px;
}
.container .text-container{
    padding-left: 3%;
    margin-top: 3%;
    width: 65%;
}
.container .text-container h2{
    font-size: 45px;
    font-family: "Hiruko Alternate";
    color: black;
    margin-bottom: 1%;
    margin-top: 3%;
    
}
.container .text-container h6{
    font-size: 27px;
    font-family: "Script MT";
    color: black;
    margin-bottom: 1%;
    margin-top: 1%;
    
}

.container  h5{
    font-size: 27px;
    font-family: "Hiruko Alternate";
    color: #707070;
    margin-bottom: 1%;
    margin-top: 3%;
}
.container  p{
    color: #707070;
    font-size: 27px;
    font-family: "Segoe UI";
    margin: auto;
    

}


/* 2eme section de page */
.mp3-container .episode{
    border-bottom: 1px solid #707070;
    width: 35%;
    margin-left: 6%;
}

.mp3-container .episode .butt-episode p{
    background-color: #FFA887;
    font-family: "Hiruko Alternate";
    font-size: 32px;
    color: white;
    text-decoration-line: none;
    border-radius: 50%;
    width: 30% !important;
    
}


































/*********************Start Style Footer********************/
.footer{
    background-color: #FFD0BE;
    flex-basis: 100%;
    height: 50px; 
    display: flex;
    flex-wrap: wrap;
    margin-top: 6%;
    
}
.footer span{
    color:#707070; 
    font-family: "Hiruko Alternate" ;
    font-weight: normal;

}
.footer .S1{
 float: left;
 padding-left: 105px;
 margin-top: 15px;
 font-size: 26px;
 font-family: "Hiruko Alternate";
 font-weight: normal;
 color: #707070;
 margin-left: 33%;

 
}























/**************************media of Header*********************************/
@media (max-width: 1070px){
 
    .slide .title .h{
        font-size: 24px;
    }
    .slide .title .para{
        font-size: 17px;
    }
}
@media (max-width: 906px){
    .slide .title .h{
        font-size: 20px;
    }
    .slide .title .para{
        font-size: 13px;
    }
}
@media (max-width: 700px){
    .slide .title .h{
        font-size: 19px;
    }
    .slide .title .para{
        font-size: 9px;
    }
}
@media (max-width: 1090px){
    .nav-bar ul{
        margin-left:20%;
    }
}
@media (max-width: 961px){
    .nav-bar ul, .logo img{
        margin-left:1%;
    }
}
@media (max-width: 783px){
    .nav-bar ul li, .nav-bar ul li a {
        width: 150px;
        font-size: 12px;
    }
}
@media (max-width: 961px){
     .logo img{
        margin-left:-44%;
    }
}
@media (max-width: 1600px){
    .footer .S1{
       font-size: 22px;
   }
}
@media (max-width: 900px){
    .footer .S1{
       font-size: 20px;
       margin-left: 21%;
   }
}
@media (max-width: 600px){
    .footer .S1{
       font-size: 16px;
        margin-left: 0%;
   }
}
