body{
    color: #707070;
    font-family: "American Typewriter";
}

.logo{
    margin-left: 70px;
}

/* nav-bar section */
.nav-bar{
    display: flex;
    justify-content: first baseline;
}

.nav-bar img{
    width: 40%;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
}

.nav-bar ul li {
    font-family: "poppins";
    font-size: 20px;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 40px;

}

.nav-bar ul li a {
    text-decoration: none;
    color: #707070;
}

.nav-bar .active a{
    color: #FF4F59;
    font-size: 25px;
    font-family: Poppins Regular ;
    margin-left: 560px;

}
.nav-bar .pdc {
    color: #000000;
    font-size: 25px;
    font-family: Poppins Regular;
    margin-left: 100px;
}
.container{
    display: flex;
    flex-wrap: wrap;

}